.main-keyword{
    font-family: 'Poppins', sans-serif;}
    h1{font-size: 60px; margin-top: 40px;color: red; }
    .red{color: purple;}
    section{display: flex; }
    .half-width{
        width: 50%; padding-left: 5%; font: 400;
     }
     .half-width img { 
         width: 80%;}
    .learn-more {text-decoration: none;
    background-image: linear-gradient(red,purple); color: white; padding: 6px; font: 400;
     }
     .learn-more:hover{background-image: linear-gradient(purple,red); color: black;}
    .one{background-image: url(images/top-banner.png);background-repeat: no-repeat;}
    .topnav {
        overflow: hidden;
      }
      .topnav a {
        float: right;
        color:purple;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        margin-right:20px;
      }
      .topnav a:hover {
        background-color: red;
        color: black;
      }
      .topnav a.active {
        background-color:purple;
        color: white;}