.main-keyword{
    font-family: 'Poppins', sans-serif;color: red;}
    h1{font-size: 60px; margin-top: 40px;font-family: poppins; }
    h3{font-family: poppins;}
    p{font-family: poppins;}
    li{font-family: poppins;}

    .red{color:blue;}
    .flex{display: flex; margin-bottom: 100px;}
    .half-width{
        width: 50%; padding-left: 5%; font: 400;
     }
     .half-width img { 
         width: 80%;}
    .learn-more {text-decoration: none;
    background-image: linear-gradient(red,purple); color: white; padding: 6px; font: 400;
     }
     .learn-more:hover{background-image: linear-gradient(purple,red); color: black;}
    .one{background-image: url(images/top-banner.png);background-repeat: no-repeat;}
    .two{background-image: url(images/dream-bg.png);background-repeat: no-repeat;background-position: right;}
    #health-benefits{color: blue;}
    .topnav {
        overflow: hidden;
      }
      .topnav a {
        float: right;
        color:purple;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        margin-right:20px;
      }
      .topnav a:hover {
        background-color: red;
        color: black;
      }
      .topnav a.active {
        background-color:purple;
        color: white;}
        .blue{color: red;}
        #scnd-head{color: blue; }